

<div  class="container">
  <mat-toolbar style="background-color:#E5E3DF">
    <span class="fill-remaining-space"></span>
    <span>Customer Form</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
</div>

<div class="image">
<!--  devide two part-->
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile>
      <mat-card class="main-card" >
        <mat-card-header>
          <mat-card-title>
            <h3>Customer Form</h3>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content >
          <mat-card >
            <form #customerForm='ngForm'>
            <div class="controles-container">
                      <mat-form-field>
                      <input  matInput placeholder="Customer id" type="text" id="id" name="id" [(ngModel)]="customer.id">
                      </mat-form-field>
                      <mat-form-field>
                        <input  matInput placeholder="Customer name" type="text" id="name" name="name" [(ngModel)]="customer.name">
                      </mat-form-field>
                      <mat-form-field>
                        <input  matInput placeholder="Customer address" type="text" id="address" name="address" [(ngModel)]="customer.address">
                      </mat-form-field>

                    </div>


              <button type="submit" mat-raised-button color="primary" (click)="saveCustomer()">Customer Add</button>&nbsp;
              <button type="submit"  mat-raised-button  color="warn" (click)="deleteCustomer(customer.id)">Customer Delete</button>&nbsp;
<!--              <button type="submit"  mat-raised-button color="warn">Customer Delete</button>-->
            </form>
          </mat-card>

        </mat-card-content>

      </mat-card>

    </mat-grid-tile>



    <mat-grid-tile>
<!--      <div  class="container">-->
<!--        <mat-toolbar style="background-color: #E1BEE7">-->
<!--          <span class="fill-remaining-space"></span>-->
<!--          <span>All Customer Details</span>-->
<!--          <span class="fill-remaining-space"></span>-->
<!--        </mat-toolbar>-->
<!--      </div>-->

      <div class="cust-table">
        <table id="customers">
          <tr>
            <th>ID</th>
            <th> Name</th>
            <th>Address</th>
          </tr>
          <tr *ngFor="let customer of customerList" (click)="selectCustomer(customer)" [class.selected]="customer==selectCustomer">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
          </tr>

        </table>


      </div>

    </mat-grid-tile>

  </mat-grid-list>


</div>
